@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
     /*add CSS here*/
    margin:40px;
    padding:25px;
    
}

#subtitle {
    background: black;
    color: white;
    /*add CSS here*/
    margin:10px 40px;
    padding:25px;
    
}

.topic {
    background: lightgray;
    /*add CSS here*/
    display: inline-block;
    margin:40px;
}

